.glossymenu {
  padding: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.2);
  margin: 0 auto 10px; }

.glossymenu > ul > li > a {
  background: #bf443f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #bf443f 35%, #e0636c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #bf443f), color-stop(100%, #e0636c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bf443f 35%, #e0636c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bf443f 35%, #e0636c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bf443f 35%, #e0636c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #bf443f 35%, #e0636c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf443f', endColorstr='#e0636c',GradientType=0 );
  color: #fff;
  display: block;
  position: relative;
  /*To help in the anchoring of the ".statusicon" icon image*/
  width: auto;
  padding: 0px 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 90%;
  line-height: 40px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8dd89; }

.glossymenu > ul > li > a:hover, .glossymenu > ul > li > a:focus,
.glossymenu > ul > li > a:visited, .glossymenu > ul > li > a:active {
  color: #fff;
  text-decoration: none; }

.glossymenu ul > li > a .statusicon {
  position: absolute;
  padding-top: 17px;
  right: 8px;
  border: none; }

.glossymenu a.menuitem:hover {
  /*background-image: url(../images/glossyback2.gif);*/ }

.glossymenu .has_sub ul {
  background: #f3e6ce; }

.glossymenu .has_sub ul {
  /*UL of each sub menu*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border-bottom: 0; }

.glossymenu .has_sub ul li {
  border-bottom: 1px solid #fbbc3e; }

.glossymenu .has_sub ul li a {
  display: block;
  color: black;
  font-size: 100%;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 5px; }

.glossymenu .has_sub ul li a:hover {
  color: #d20707; }

.sub-active {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb404f+0,d61928+100 */
  background: #fb404f !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fb404f 0%, #d61928 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb404f), color-stop(100%, #d61928)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fb404f 0%, #d61928 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fb404f 0%, #d61928 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fb404f 0%, #d61928 100%) !important;
  /* IE10+ */
  background: linear-gradient(to bottom, #fb404f 0%, #d61928 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb404f', endColorstr='#d61928',GradientType=0 );
  /* IE6-9 */
  color: white !important; }